<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG_Suite" verbose="1" >
    <test name="Firefox">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="com.useinsider.TestUseInsider">
            </class>
        </classes>
    </test>

    <test name="Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="com.useinsider.TestUseInsider">
            </class>
        </classes>
    </test>
</suite>